{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
    <h1 class="m-5">Catégorie {{category.name}}</h1>
    
            <div class="container d-flex flex-wrap flex-column align-items-center flex-lg-row">
  {% for program in programs %}
    <div class="card ms-3 mt-3" style="width: 18rem;">
        <img class="card-img-top cards-img" src="{{program.poster}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ program.title }}</h5>
          <p class="card-text">Catégorie : {{ program.category.name }}</p>
          <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Voir la fiche</a>
        </div>
    </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>
    <div class="mt-5 text-center">
        <a href="{{ path('category_index')}}" class="btn btn-primary mx-auto">Retour à la liste des catégories</a>
    <div>
{% endblock %}

