{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
                <p>Saison {{ season.number }}</p>
                <p>Année : {{ season.year }}</p>
                <p>Description : {{ season.description }}</p>
            <h2>Les épisodes</h2>
            {% for episode in season.episodes %}
                <p><h4> Episode {{ episode.number }}</h4></p>
                <p>{{ episode.title }}</p>
                <p> {{ episode.synopsis }}</p>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('program_show', {id : program.id }) }}">
        Retour au programme
    </a>
{% endblock %}